<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align: center">
  <h1>Cape Connect 100 mbit fibre performance</h1>
</div>

<div style="position: absolute; top:75px; left: 30px; right: 30px; bottom: 30px;">
  <ngx-charts-line-chart
    [view]="view"
    [scheme]="colorScheme"
    [results]="chartData"
    [gradient]="gradient"
    [xAxis]="showXAxis"
    [yAxis]="showYAxis"
    [legend]="showLegend"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
    [autoScale]="autoScale"
    [curve]="curve"
    [timeline]="timeline">

  </ngx-charts-line-chart>
</div>
